<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Test Front Code</title>
</head>
<body>
    {% extends 'layout/layout.html' %}
    {% block content %}

    <h1>Logo</h1>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Board</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
    </ul>
    <div id="main">Main Area</div>
    {% endblock %}
</body>
</html>